@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}

:target {
  scroll-margin-top: 80px;
}

.fancybox__container {
  z-index: 1999;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #231f20;
  height: 300px;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --main: #4b5966;
  --second: #6c7fd8;
  --second5: #f8f8fb;
  --border: #dddddd;
  --input-bg: #fafafa;
  --input-hint: #aaaaaa;
  --input-stroke: #f2f2f2;
  --gray: #777777;
  --dropdown-bg: #fff;
  --light-gray: #eeeeee;
  --white: #fff;
  --star: #ffd250;
  --border-radius: 12px;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 8px #0000001a;
}

body {
  overflow-x: hidden;
  position: relative;
  direction: rtl;
  font-family: "Zain", serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  border: none;
  outline: none;
  background: none;
}

.row {
  margin: 0;
}

.dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 6 Pro";
  border: 0;
}

.dropdown-menu {
  border: 0 !important;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  margin-top: 14px !important;
  background: var(--dropdown-bg);
  border-radius: 8px;
  padding: 8px;
  span {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--input-stroke);
    margin: 8px 0;
  }
  a {
    text-align: start;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    color: var(--main);
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    gap: 8px;
    &:active {
      background: var(--white);
    }
    i {
      width: 18px;
    }
  }
}

.quantity {
  border: 1px solid var(--input-stroke);
  display: flex;
  align-items: center;
  gap: 24px;
  width: fit-content;
  padding: 8px 16px;
  margin-top: 6px;
  border-radius: 12px;
  button {
    cursor: pointer;
    font-size: 14px;
    &:hover {
      color: var(--second);
    }
  }
}

input[type="checkbox"] {
  width: 20px;
  appearance: none;
  position: relative;
  cursor: pointer;
  &::after {
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    top: 50%;
    content: "";
    font-family: "FontAwesome";
    width: 20px;
    height: 20px;
    border: 1px solid var(--input-hint);
    border-radius: 4px;
    font-size: 14px;
    @include centerFlex();
    color: var(--main-color);
  }
  &:checked::after {
    content: "\f00c";
    background: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
  }
}