header {
  width: 100%;
  border-bottom: 1px solid var(--input-stroke);
  .top_bar {
    width: 100%;
    padding: 8px 0;
    background: #3d4750;
    .container {
      @include space-between();
      p {
        margin: 0;
        font-size: 14px;
        color: var(--white);
      }
      .actions {
        display: flex;
        align-items: center;
        gap: 24px;
        .dropdown-toggle,
        .link {
          color: var(--white);
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
      @media screen and (max-width: 576px) {
        justify-content: center;
      }
    }
  }

  nav {
    width: 100%;
    padding: 24px 0;
    @include space-between();
    @media screen and (max-width: 576px) {
      flex-direction: column;
      gap: 16px;
      align-items: unset;
    }
    form {
      border: 1px solid var(--input-stroke);
      border-radius: 12px;
      height: 48px;
      display: flex;
      select {
        height: 100%;
        padding: 0 24px;
        appearance: none;
        color: var(--gray);
        border-right: 1px solid var(--input-stroke);
      }
      input {
        height: 100%;
        width: 100%;
        padding: 0 16px;
        min-width: 400px;
        appearance: none;
        @media screen and (max-width: 576px) {
          min-width: 280px;
        }
      }
      button {
        height: 100%;
        color: var(--gray);
        padding: 0 12px;
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 24px;
      a,
      .dropdown-toggle {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          height: 20px;
        }
        h6 {
          margin: 0;
          color: var(--main);
        }
      }
    }
  }
}

footer {
  padding: 40px 0 0;
  background: var(--second5);
  .logo {
    margin-bottom: 16px;
    display: block;
  }
  p {
    color: var(--gray);
    font-size: 14px;
  }
  .btns {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      height: 32px;
    }
  }
  h3 {
    font-size: 18px;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 24px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    li {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 8px;
      font-size: 14px;
      color: var(--gray);
      i {
        color: var(--second);
      }
      a {
        color: var(--gray);
      }
    }
  }
  .social {
    margin-top: 28px;
    display: flex;
    gap: 16px;
    a {
      width: 32px;
      height: 32px;
      background: var(--main);
      color: var(--white);
      @include centerFlex();
      border-radius: 50%;
      font-size: 12px;
      transition: var(--transition);
      &:hover {
        background: var(--second);
      }
    }
  }
  .copy_rights {
    padding: 12px 0;
    border-top: 1px solid #eee;
    margin-top: 16px;
    @include space-between();
    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      gap: 12px;
      margin-bottom: 68px;
    }
    p {
      margin: 0;
    }
    .payments {
      display: flex;
      align-items: center;
      gap: 12px;
      img {
        height: 42px;
      }
    }
  }
}

.responsive_navbar {
  padding: 14px 16px;
  background: var(--white);
  box-shadow: var(--shadow);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  ul {
    @include space-between();
    li {
      flex: 1;
      height: 100%;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        height: 100%;
        img {
          height: 22px;
        }
        h6 {
          margin: 0;
          font-size: 12px;
          color: var(--main);
        }
      }
    }
  }
}
